.menu {
    min-width: 70px;
    font-family: 'Quicksand';

    .user {
        border-bottom: 1px solid #ccc;
        padding-bottom: 3px;
        font-size: 20px;
    }

    .menu_item {
        transition: all .3s;
        padding: 3px 0;
        cursor: pointer;

        &:hover {
            color: #85cbf8;
        }
    }
}