    .btn_group {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 158px;
    }