:root {
    --primary-color: #4460f1;
    --white-color: #ffffff;

    --light-text-color: #9398b3;
    --light-bg-color: #f2f4ff;
    --dark-color: #333333;

    --background-color: #fcfcff;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--background-color);
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}


.site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(116, 223, 239, 0.3);

    h1 {
        font-size: 3em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        margin-left: 167px
    }

}

.container {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.login {
    width: 320px;
    float: right;
    margin-right: 100px;
    form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        p{
            position: relative;
        }
    }
    .switch{
        color: #807e7e;
        &:hover{
            color:#6a9e9c;
        }
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 70px 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 300px;
        height: 200px;
        background: linear-gradient(to right, var(--primary-color), #c471ed, #f64f59);
        z-index: -1;
        filter: blur(70px);
    }
}

