@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Quicksand:wght@600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    height: inherit;
    width: inherit;
}

a {
    text-decoration: underline;
    color: #85cbf8;
    cursor: pointer;
}